<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="org.cakesolutions.scala.web"/>
	<mvc:annotation-driven/>
	<!--<mvc:default-servlet-handler/>-->
	<mvc:resources mapping="/css/*" location="/WEB-INF/css/" cache-period="1"/>
	<mvc:resources mapping="/js/*" location="/WEB-INF/js/" cache-period="1"/>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver"/>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
		  p:basename="messages"/>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/en_GB/"
		  p:suffix=".jsp"/>

</beans>